<!-- 链接 -->
<div class="row">
    <div class='col-md-12'>
        <ul class="footer_ul">
            <li class="footer_li">
                <a class="footer_a" href="#">友情链接</a>
            </li>
            <li class="footer_li">
                <a class="footer_a" href="#">免责声明</a>
            </li>
            <li class="footer_li">
                <a class="footer_a" href="#">友情链接</a>
            </li>
        </ul>
    </div>
</div>
<!-- 关于 -->
<div class="row">
    <div class='col-md-12'>
        <ul class="footer_ul">
            <li class="footer_li">
                <a class="footer_a" href="#">关于我们</a>
            </li>
            <li class="footer_li">
                <a class="footer_a" href="#">用户须知</a>
            </li>
            <li class="footer_li">
                <a class="footer_a" href="#">用户协议</a>
            </li>
            <li class="footer_li">
                <a class="footer_a" href="#">在线咨询</a>
            </li>
            <li class="footer_li">
                <a class="footer_a" href="#">免责声明</a>
            </li>
        </ul>
    </div>
</div>
<!-- law -->
<div class="row">
    <div class='col-md-12'>
        <ul class="footer_ul">
            <li class="footer_li">
                <a class="footer_a" href="#">Copyright 2005-2016 zbj.com 版权所有 渝ICP备10202274-1号 渝B2-20080005 渝公网安备 50019002500154</a>
            </li>

        </ul>
    </div>
</div>
