<!DOCTYPE html>
<html>

<head>
    <title>
        首页
    </title>
    <link href="../stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="../stylesheets/index.css" rel="stylesheet" />
    <script src="../javascripts/jquery.js"></script>
    <script src="../javascripts/tether.js"></script>
    <script src="../javascripts/bootstrap.js"></script>
    <!-- <script src="../javascripts/main.js"></script> -->
    <!-- <script src="../javascripts/qrControl.js"></script> -->
    <!-- <script src="../javascripts/classControl.js"></script> -->
</head>

<body>
    <header>
      <!-- 头部 -->
<div class="container-header">
    <div class='row' style='border-bottom:1px solid gray;height:38px;line-height:38px;'>
        <div class='col-md-8'>
            <span class="label label-default" style='margin-left:30px;'>全国</span>
            <a href="#" class="label">[切换城市]</a>
        </div>
        <div class='col-md-4'>
            <div class='col-md-3'><a href='#'>登录</a>/<a href='#'>注册</a></div>
            <div class="col-md-3"><a href="#">个人中心</a></div>
            <div class='col-md-3'><a href='#'>网站导航</a></div>
            <div class='col-md-3'><a href='#'>我要推广</a></div>
        </div>
    </div>
    <div class="row">
        <!-- 左侧图片 -->
        <div class="col-md-3 header_row_col">
            <img src="../images/logo.png" class="img-rounded" style='height:95px;width:276px;' alt="runningcat" />
        </div>
        <!-- 搜索框 -->
        <div class="col-md-6 header_row_col">
            <!-- 搜索 -->
            <div class="col-md-12 input-group" style='margin-top:40px;'>
                <input type="text" class="form-control" style='border:2px solid #5cb85c;' placeholder="请输入关键词...">
                <span class="input-group-btn">
                  <button class="btn btn-success" style='border:2px solid #5cb85c;' type="button">搜索</button>
                </span>

            </div>
            <!-- 标签 -->
            <div class='col-md-12'>
                <ul id="search_label" class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">微商二维码 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">微商微信群</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">交友群</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">麻将群</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 发布二维码 -->
        <div class="col-md-3 header_row_col">
            <button type="button" class="btn btn-success" style='margin-top:40px;'>立即发布二维码</button>
        </div>
    </div>
    <!-- 导航 -->
    <div class='row'>
        <div class='col-md-12'>
            <ul id='navigation' class="nav nav-tabs" style="background-color: #5cb85c;">
                <li class="nav-item">
                    <a href="#" class="nav-link active" data-toggle="tab">首页</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="tab">微信群</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="tab">个人微信</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="tab">微信公众号</a>
                </li>
                <li class="nav-item disabled">
                    <a href="#" class="nav-link" data-toggle="tab">微信活动</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--导航分类 -->
<div class="container-header">
    <!-- 列表详情 -->
    <div class="row">
        <div class="col-sm-4 col-md-4 col-md-offset-10">
            <span id='' class="label label-default text-muted pull-right">共</span>
            <span id='listCount' class="label label-default text-info pull-right">100</span>
            <span id='' class="label label-default text-muted pull-right">条数据</span>
        </div>
    </div>

    <div id="" class="container-fluid">
        <nav class="navbar navbar-dark bg-faded">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <div class="btn-group">
                        <!-- 二级分类 -->
                        <button id='secondVal' type="button" class="btn btn-info">二级分类</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div id="secondClass" class="dropdown-menu">
                            <a class="dropdown-item second-item" href="#">Action</a>
                            <a class="dropdown-item second-item" href="#">Another action</a>
                            <a class="dropdown-item second-item" href="#">Something else here</a>
                            <!-- <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item second-item" href="#">Separated link</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <!-- 三级分类 -->
                        <button id='thirdVal' type="button" class="btn btn-info">三级分类</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div id="thirdClass" class="dropdown-menu">
                            <a class="dropdown-item third-item" href="#">Action</a>
                            <a class="dropdown-item third-item" href="#">Another action</a>
                            <a class="dropdown-item third-item" href="#">Something else here</a>
                            <!-- <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item third-item" href="#">Separated link</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline navbar-form pull-right">
                        <input class="form-control" type="text" placeholder="Search">
                        <button id='search' class="btn btn-success-outline" type="button">查询</button>
                    </form>
                </li>
            </ul>

        </nav>
        <!-- Split button -->


    </div>
</div>

    </header>
    <section>
        <!-- 列表 -->
        <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5 col-md-12">
                    <ul id="qrList" class="list-group">
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="#">
                                        <img class="media-object" src="../images/runningcat.jpg" style="height:64px;width:64px;" alt="Generic placeholder image">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">羊毛衫货源</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                        Donec lacinia congue felis in faucibus.</p>
                                    <p>北京海淀</p>
                                </div>
                                <div class="media-right media-middle">
                                    <a href=" # " class="btn ">查看详情</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-5 col-md-4 ">
                    <div class="list-group ">
                        <a href="# " class="list-group-item active ">
                            <h4 class="list-group-item-heading ">List group item heading</h4>
                            <p class="list-group-item-text ">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                        <a href="# " class="list-group-item ">
                            <h4 class="list-group-item-heading ">List group item heading</h4>
                            <p class="list-group-item-text ">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                        <a href="# " class="list-group-item ">
                            <h4 class="list-group-item-heading ">List group item heading</h4>
                            <p class="list-group-item-text ">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
    <footer>
      <!-- 链接 -->
<div class="row">
    <div class='col-md-12'>
        <ul class="footer_ul">
            <li class="footer_li">
                <a class="footer_a" href="#">友情链接</a>
            </li>
            <li class="footer_li">
                <a class="footer_a" href="#">免责声明</a>
            </li>
            <li class="footer_li">
                <a class="footer_a" href="#">友情链接</a>
            </li>
        </ul>
    </div>
</div>
<!-- 关于 -->
<div class="row">
    <div class='col-md-12'>
        <ul class="footer_ul">
            <li class="footer_li">
                <a class="footer_a" href="#">关于我们</a>
            </li>
            <li class="footer_li">
                <a class="footer_a" href="#">用户须知</a>
            </li>
            <li class="footer_li">
                <a class="footer_a" href="#">用户协议</a>
            </li>
            <li class="footer_li">
                <a class="footer_a" href="#">在线咨询</a>
            </li>
            <li class="footer_li">
                <a class="footer_a" href="#">免责声明</a>
            </li>
        </ul>
    </div>
</div>
<!-- law -->
<div class="row">
    <div class='col-md-12'>
        <ul class="footer_ul">
            <li class="footer_li">
                <a class="footer_a" href="#">Copyright 2005-2016 zbj.com 版权所有 渝ICP备10202274-1号 渝B2-20080005 渝公网安备 50019002500154</a>
            </li>

        </ul>
    </div>
</div>

    </footer>
</body>

</html>
